@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
  width: 12px; 
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #74b2f9; 
  border-radius: 50px;
  border: 10px solid #1e3a8a; 
}


.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
}


.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #74b2f9 #f1f1f1;
}